In [745]:
import pandas as pd

In [746]:
import csv
from pathlib import Path

In [747]:
menu_file_path = Path("Resources\MenuData.csv")
sales_file_path = Path("Resources\SalesData.csv")

In [748]:
menu_data_file = pd.read_csv(menu_file_path)
menu_data_file.head(10)

,item,category,description,price,cost
0,edamame,appetizers,"boiled soybeans, maldon sea salt",4.0,1
1,house salad,appetizers,"mixed greens, cherry tomatoes, cucumber, house...",4.0,2
2,cucumber sunomono salad,appetizers,"cucumber, ponzu dressing, pickled ginger sprou...",5.0,2
3,hiyashi wakame seaweed salad,appetizers,"sweet soy-marinated wakame seaweed threads, pi...",5.0,2
4,agedashi tofu,appetizers,"tempura battered tofu, katsuobushi, tsuyu brot...",5.0,2
5,hiyayakko tofu,appetizers,"chilled soft tofu, house shoyu, katsuobushi, g...",5.0,2
6,pork floss bao,appetizers,"two steamed buns, minced lean slow braised nim...",4.0,2
7,kakuni bao,appetizers,"two steamed buns, chopped fatty slow braised n...",6.0,3
8,edamame fried gyoza (vegan),appetizers,six crispy fried edamame and cabbage pot stick...,6.0,3
9,fried gyoza,appetizers,six cripsy fried pork and vegetable pot sticke...,6.0,6

In [749]:
sales_data_file = pd.read_csv(sales_file_path)
sales_data_file.head(10)

,Line_Item_ID,Date,Credit_Card_Number,Quantity,Menu_Item
0,1,01-01-2017,7437926611570799,1,spicy miso ramen
1,2,01-01-2017,7437926611570799,1,spicy miso ramen
2,3,01-01-2017,8421920068932819,3,tori paitan ramen
3,4,01-01-2017,8421920068932819,3,tori paitan ramen
4,5,01-01-2017,4787310681569648,1,truffle butter ramen
5,6,01-01-2017,4787310681569648,1,truffle butter ramen
6,7,01-01-2017,8252818705821725,1,tonkotsu ramen
7,8,01-01-2017,8252818705821725,1,tonkotsu ramen
8,9,01-01-2017,3119034881407323,1,vegetarian spicy miso
9,10,01-01-2017,3119034881407323,1,vegetarian spicy miso

In [750]:
menu = []
sales = []

In [751]:
sales_row_count = []
Quantity = []
menu_item = []
sales_item = []

In [752]:
row_count = []
item = []
price = []
cost = []
profit = []

In [753]:
report = {
    "01-count": 0,
    "02-revenus": 0,
    "03-cogs": 0,
    "04-profit": 0
}

In [754]:
with open(menu_file_path) as fin_data:
    fin_data = pd.read_csv(fin_data)
    index = fin_data.index
    row_count = len(index)
    price = "price"
    price = fin_data[price].sum()
    cost = "cost"
    cost = fin_data[cost].sum()
    profit = price - cost

In [755]:
row_count

32

In [756]:
price

243.5

In [757]:
cost

115

In [758]:
profit

128.5

In [759]:
with open(sales_file_path) as fin_sales_data:
    fin_sales_data = pd.read_csv(fin_sales_data)
    index = fin_sales_data.index
    sales_row_count = len(index)
    Quantity = "Quantity"
    Quantity = fin_sales_data[Quantity].sum()

In [760]:
sales_row_count

74124

In [761]:
revenue = Quantity * price

In [762]:
revenue

24375811.0

In [763]:
cog = Quantity * cost

In [764]:
cog

11512190

In [765]:
Quantity

100106

In [766]:
profit = (Quantity * price)-(Quantity * cost)

In [767]:
profit

12863621.0

In [769]:
f = open("Analysis.txt", "w")
f.write(f"Financial analysis\n")
f.write(f"--------------------\n")
f.write(f"Sales count : {sales_row_count}\n")
f.write(f"Sales revenue : {revenue}\n")
f.write(f"Cost of goods : {cog}\n")
f.write(f"Sales profit : {profit}\n")
f.close()